<!-- <p>header works!</p>  -->
<nav style="display: flex; justify-content: space-between;">
    <h1>
        Logo
    </h1>
    <ul
        style="width: 400px;display: flex; cursor: pointer; padding: auto; justify-content: space-between; align-content: center; align-items: center; list-style: none;">
        <li>
            <a  RouterLinkActive="active" routerLink="/">home</a>
        </li>
        <li>
            <a RouterLinkActive="active" routerLink="login">login</a>
        </li>
        <li >
            <a RouterLinkActive="active" routerLink="about">about</a>
        </li>
        <!-- <li routerLink="signup">
      <a>signup</a>
    </li>
    <li routerLink="profile">
      <a>profile</a>
    </li> -->
      <li >
        <a RouterLinkActive="active" routerLink="profile">profile</a>
      </li>
        <li >
            <a RouterLinkActive="active" routerLink="contact">contact</a>
        </li>
    </ul>
</nav>