<!-- <h1>Learning Angular</h1>
<hr> -->
<!-- <h1>Basic routing</h1> -->



<!-- <app-home></app-home> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- 
<button (click)="handleClick()" style="background-color: aqua; padding: 10px;">Click me!</button>
<button (click)="sumFunction(40, 98)" style="margin-top: 10; border-radius: 10; background-color: aliceblue;">Our sum
  Function
</button>
<app-login></app-login>
<app-signup></app-signup>
<app-profile></app-profile>
<h3>Form</h3>
<input [(ngModel)]="namo" placeholder="usename" type="text">

<p>{{namo}} </p>


<h1>Counter App</h1>

<div>
  <h1>{{count}}</h1>
  <div>
    <button (click)="handleCounterLogic('plus')" class="btn bg-red">Increment</button>
    <button (click)="handleCounterLogic('reset')" class="btn bg-black">Reset</button>
    <button (click)="handleCounterLogic('minus')" class="btn bg-green">Decrement</button>
  </div>
</div>

<h1>Input </h1>
<h1>{{username}} </h1>
<input #AddInfoInput (input)="handleInputEvent($event)" placeholder="username">
<button (click)="addInpuInfo(AddInfoInput.value)">Add input Value</button>

<h1>Condition</h1>

<button (click)="show()">show</button>

<button (click)="hide()">hide</button>

<button (click)="toggle()">toggle</button>
<button (click)="toggle()">{{display?'hide':'show'}}</button>

@if(display){
<div style="background-color: blue; height: 40px; width: 40px; color: aliceblue; padding: 10px;">
  hello world
</div>
}

<h1>List</h1>

@for(user of users ; track user){
<div>{{user}}</div>
}@empty {
<h3>No value</h3>
}

@for(student of students; track student; let id = $index ){
<div style="display: flex; align-items: center;">
  <h3>{{id}} </h3>
  <h1>{{student.name}}</h1>
  <span style="padding: 10px;">{{student.age}}</span>
</div>
}
<h1>Signal</h1>
<h4>{{corout()}}</h4>
<h4>{{dato()}}</h4>
<button (click)="updateValue()">Click me</button>
<button (click)="updateDataaa()">Click me</button>

<h1>computed</h1>
{{z()}}
<button (click)="voteValu()">Update compute</button>



<h1>Todo App</h1>
<input [(ngModel)]="task" type="text" placeholder="add value">
<button (click)="addTask()">add todo</button>


@for(task of taskList ; track task){
<ul style="display: flex; padding: 10px; list-style: none;">
  <li>{{task.id}} </li>
  <li>{{task.name}}</li>
  <li><button (click)="deleteTask(task.id)">Delete </button></li>
</ul>
}

<h1>Directives</h1>

<ul>
  <li *ngFor="let student of students">
    {{student.name }}, {{student.age}}
  </li>
</ul> -->