<h1>Learning Angular</h1>
<button (click)="handleClick()" style="background-color: aqua; padding: 10px;">Click me!</button>
<button (click)="sumFunction(40, 98)" 
  style="margin-top: 10; border-radius: 10; background-color: aliceblue;">Our sum
  Function
</button>
<app-login></app-login>
<app-signup></app-signup>
<app-profile></app-profile>
<h1>Counter App</h1>

<div>
  <h1>{{count}}</h1>
  <div>
    <button (click)="handleCounterLogic('plus')" class="btn bg-red">Increment</button>
    <button (click)="handleCounterLogic('reset')" class="btn bg-black">Reset</button>
    <button (click)="handleCounterLogic('minus')" class="btn bg-green">Decrement</button>
  </div>
</div>

<h1>Input </h1>
<h1>{{username}} </h1>
<input 
#AddInfoInput 
(input)="handleInputEvent($event)"
 placeholder="username">
<button (click)="addInpuInfo(AddInfoInput.value)">Add input Value</button>

<h1>Condition</h1>

<button (click)="show()">show</button>

<button (click)="hide()" >hide</button>

<button (click)="toggle()">toggle</button>
<button (click)="toggle()">{{display?'hide':'show'}}</button>

@if(display){
  <div style="background-color: blue; height: 40px; width: 40px; color: aliceblue; padding: 10px;">
    hello world
  </div>
}