<p>profile works!</p>

<h1>Form test</h1>

<input  type="text" placeholder="name" [formControl]="name">
<br>
<input type="email" placeholder="email" [formControl]="email">
<br>
<input type="password" placeholder="password" [formControl]="password">
<br>
<button (click)="getValue()"> submit</button>
<button (click)="getValue()"> submit</button>
<button (click)="getValue()"> submit</button>

<br>
<h1>{{name.value}} </h1>
<h1>{{email.value}} </h1>
<h1>{{password.value}} </h1>

<br>

<h1>Form group</h1>

<form [formGroup]="profileForm" (ngSubmit)="submitData()" >
    <input type="text" placeholder="name1" formControlName="name1">
    <span *ngIf="profileForm.controls['name1']?.hasError('required')" >this is required</span>
    <span *ngIf="profileForm.controls['name1']?.invalid &&  (profileForm.controls['name1']?.touched  ) " >this is required</span>
    <br>
    <input type="email" placeholder="email1" formControlName="email1">
    <br>
    <input type="password" placeholder="password1" formControlName="password1">
    <br>
    <button>submit</button>
</form>

<br>



